*{
	box-sizing: border-box
}
body{
	font-family: monospace;
	background-color: #dedede
}
.todo-container{
	width: 500px;
	margin: 20px auto;
	border-radius: 10px
	
}

.todo-content ul{
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
	min-height: 300px;
	padding: 10px
}

.todo-content{
	background-color: #fff;
	position: relative
}

.todo-content li {
	overflow: hidden;
	border-bottom: 1px solid #ccc;
	margin-bottom: 10px;
	padding: 10px 0;
	
	
}
.todo-content li i{

}

.todo-content li i{
	cursor: pointer;
	font-size: 20px;
	
}
.todo-content li .co{
	float: right
}

.todo-content li p{
	float: right;
	margin: 0;
	font-size: 18px;
	margin-left: 10px;
	margin-right: 10px
	
}


.todo-content li .delete{
	float: left;
	
}
.todo-content li .delete:hover{
	color: red
}

.add-item{
	margin-top: 10px
}
.add-item i{
	color: darkgreen;
	font-size: 25px;
	float: left;
	padding-top: 7px;
	cursor: pointer;
	margin-right: 10px
}
.add-item input{
	width: calc(100% - 70px);
	float: left;
	padding: 10px;
	vertical-align: middle
		
}
.no-task{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%)
}
.todo-content .item.check{
	color: #999
}